.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 500ms !important;
}

.font{
    font-family: 'Lobster', cursive;
    font-weight:300;
    font-size:40px;
}
#social{
    padding:20px;
}

#personal{
    padding:20px;
}

#account{
    padding:20px;
}

.text.container{

    width:40%;

}


#logo{
    border:2px solid white;
    border-radius: 10px;
    color:white;
    padding:15px;
}
#logo:hover{
    box-shadow: 0px 0px 5px 5px white;
}
.content {
    background-color: transparent;
    border: none;
}

/* .main3div {
    position: absolute;
    width: 60vw;
    min-width: 350px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: right 500ms ease-in;
} */



