/* .headroom {
    top: 0;
    left: 0;
    right: 0;
    z-Index: 1;
  }
  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-40px);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0px);
  } */



#sidebar_toggel_checkbox_left,
#sidebar_toggel_checkbox_right {
    position: fixed;
    top: -40px;
}

#header_and_sidebar {
    position: relative;
    left: calc(15vw - 100vw);
    display: grid;
    grid-template-columns: calc(100vw - 15vw) 100vw;
    grid-template-rows: 40px;
    grid-template-areas: "sidebar_left nav";
    z-index: 10;
    transition: all 0.2s
}
#sidebar_toggel_checkbox_left:checked ~ #header_and_sidebar {
    left: 0px;
}


#sidebar_div_left,
#header,
#sidebar_div_right {
    background-color: rgb(231, 228, 235);
}




#sidebar_div_left {
    grid-area: sidebar_left;
    height: calc( 100vh + 40px );
}

#sidebar_toggel_checkbox_label_left {
    grid-area: label-left;
    margin:5px 10px;
    height: 40px;
    width: 40px;
}


#middle_div {
    grid-area: search;
}

.mainHeader {
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    height:40px;
}
.mainHeader > div {
    flex-grow: 1;
    text-align: center;
    height: 35px;
}
.mainHeader > div.active {
    background-color: rgb(219, 217, 221);
}
.mainHeader .headingOrLogo {
    flex-grow: 16;
}

.openOnClick {
    background: #e0ddd7;
    position: absolute;
    min-height: calc( 100vh);
    width: 100vw;
    left: 85vw;
    top: 40px;
}
.headerlpy {
    height: 40px;
    background-color: #e0ddd7;
    width: 100vw;
    position: fixed;
    z-index: 20;
}

.threeDivslpy {
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.threeDivslpy > div {
    width: 20vw;
    max-width: 500px;
}
.threeDivslpy > div.dataDisplaylpy {
    width: 40vw;
    max-width: 800px;
    min-width: 400px;
    position: relative;
}
.fixedply {
    position: fixed;
    width: inherit;
    margin-top: 1rem;
}