#profile_pic,
#good_name,
#college_details,
#club_details,
#other_details,
#his_qoute,
#follow_profile {
    width: 100%;
    text-align: center;
}


#profile_pic {
    padding: 20px 0;
}
#good_name {
    color:white;
    font-size: 2.5em;
}
#college_details {
    color: rgb(36, 35, 35);
    font-size: 1.3em;
}


#other_details {
    background-color: white;
    padding:20px 0;
}
#other_details > div {
    font-size: 1.1em;
    margin-top: 4px;
}


#his_qoute{
    background-color: gainsboro;
    border-radius: 20px;
    text-align: left;
}
#his_qoute > div {
    padding: 0px 10px;
    text-align: center;
    width: calc(100% - 20px);
}
#his_qoute > i {
    position: relative;
}
#his_qoute :nth-child(1) {
    top: -2px
}
#his_qoute :nth-child(3) {
    margin-left: calc(100% - 20px);
    top: 2px;
}


#follow_profile {
    margin: 20px 0;
    width: calc(100% - 8px);
}

.backGradient {
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}